# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
/backend/.venv
/backend/__pycache__
/backend/PasswordManager
dist
dist-ssr
*.local
/backend/my-venv

# Editor directories and files
.vscode/*
*.env
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
src-tauri
*.sw?
