.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid var(--primary);
}

.logo {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--primary);
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navItem {
  text-decoration: none;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  transition: 0.3s ease;
  color: var(--text);
}

.navItem:hover {
  background: var(--accent);
  color: var(--background);
}

.themeBtn {
  padding: 8px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  background: var(--secondary);
  color: var(--text);
  transition: 0.3s ease;
}

.themeBtn:hover {
  background: var(--accent);
  color: var(--background);
}

.menu {
  display: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  background: none;
}

.navLinkSmallScreen {
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background-color: var(--background);
  overflow: hidden;
  transition: 0.25s ease-in-out;
  padding-top: 20%;
  z-index: 100;
}

.navLinkSmallScreen .navItem {
  margin: 1rem 0;
  width: 60%;
  text-align: center;
}

.closeBtn {
  font-size: 1.5rem;
  background: none;
  border: none;
  margin-bottom: 2rem;
  cursor: pointer;
  color: var(--accent);
}

@media only screen and (max-width: 750px) {
  .navLinks {
    display: none;
  }

  .menu {
    display: block;
  }

  .navLinkSmallScreen {
    display: flex;
  }
}
